




body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0, 100%);
display: flex;
flex-direction: column;
align-items: center;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    
}
.cards{
    margin: 40px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    box-sizing: border-box;
}

header{
    padding-top: 70px;
    text-align: center;
    line-height: 1.6;
    
}
header h1{
    font-size: 27px;
    font-weight: 300;
    color: hsl(234, 12%, 34%);
}

header h2{
    font-size: 27px;
    color:hsl(212, 6% , 44%);
    margin-top: 8px;
    margin-bottom: 12px;
}
header p{
    color: hsl(234, 12%, 34%) ;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    max-width: 555px;
    margin:0 auto;
}


.icon{
    display: flex;
    flex-direction:row-reverse ;
}




.supervisor{
    border:5px ;
  border-top: 5px solid hsl(180, 62%, 55%);
 box-shadow: 2px  2px 3px hsl(212, 6%, 44%);  
    padding: 10px 20px 27px;
    width: 250px;
    max-width: 352px;
    border-radius: 7px;
    display: 
    flex-direction: ;
     
}
.team-builder{
      border:5px ;
  border-top: 5px solid hsl(0, 78% , 62%);
 box-shadow: 2px  2px 3px hsl(212, 6%, 44%);  
    padding: 10px 20px 27px;
    width: 250px;
    max-width: 352px;
    
    border-radius: 7px;
}
.karma{
    border:5px ;
  border-top: 5px solid hsl(34, 97%, 64%);
 box-shadow: 2px  2px 3px hsl(212, 6%, 44%);  
    padding: 10px 20px 27px;
    width: 250px;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    gap: 20px;
    align-self: center;
}
.calculator{
       border:5px ;
  border-top: 5px solid hsl(212, 86%, 64%);
 box-shadow: 2px  2px 3px hsl(212, 6%, 44%);  
    padding: 10px 20px 27px;
    width: 250px;
    max-width: 352px;
    border-radius: 7px;
    display:flex ;
    margin: 10px 20px;
}
